[Unit]
Description=Nuxt.js Shelkovitsa App
Documentation=https://nuxt.com/
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/shelkovitsa/client
ExecStart=/usr/bin/node .output/server/index.mjs
Restart=always
RestartSec=10
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=NUXT_PUBLIC_API_BASE=https://shelkovitsa.ru/api

# Логирование
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nuxt-app

[Install]
WantedBy=multi-user.target
